<section style="background-image: <%= image_tag("team/cover.jpg",:class => "header-section fading-title parallax") %>"
			<div class="section-shade sep-top-5x sep-bottom-3x">
				<div class="container">
					<div class="section-title upper light">
						<h2 class="light small-space">About <span class="text-primary">Us</span></h2>
						<p class="lead light">We are the Best Luxury Car Dealer Ever</p>
					</div>
				</div>
			</div>
		</section>