<footer id="footer">
			<div class="inner sep-bottom-md">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="widget sep-top-lg">
								<%= image_tag("logo.png",:class => "logo" )%>
								<small class="sep-top-xs sep-bottom-md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</small>
								<h6 class="upper widget-title">Stay connected</h6>
								<ul class="social-icon sep-top-xs">
									<li><a href="#" class="fa fa-github fa-lg"></a></li>
									<li><a href="#" class="fa fa-twitter fa-lg"></a></li>
									<li><a href="#" class="fa fa-facebook fa-lg"></a></li>
									<li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget sep-top-lg">
								<h6 class="upper widget-title">Latest Tweets</h6>
								<ul class="widget-post sep-top-xs">
									<li>
										<span class="post-tweet-logo">
											<i class="fa fa-twitter fa-2x"></i>
										</span>
										<p>Put your tweet message here.
											<a href="#">@people</a> to 
											read and click on your <a href="#">http://links</a> to 
											your site. <a href="#">#hashtag</a>
										</p>
									</li>
									<li>
										<span class="post-tweet-logo">
											<i class="fa fa-twitter fa-2x"></i>
										</span>
										<p>Put your tweet message here.
											<a href="#">@people</a> to 
											read and click on your <a href="#">http://links</a> to 
											your site. <a href="#">#hashtag</a>
										</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget sep-top-lg">
								<h6 class="upper widget-title">Contact Us</h6>
								<ul class="widget-address sep-top-xs">
									<li><i class="fa fa-map-marker fa-lg"></i><small>Rue marmite, Melbourne, Victoria<br>3000, City Name</small></li>
									<li><i class="fa fa-phone fa-lg"></i><small>(+33) 523-456-789 /<br>(+33) 523-456-789</small></li>
									<li><i class="fa fa-envelope fa-lg"></i><small><a href="#">info@envato.com /</a><br><a href="#">support@envato.com</a></small></li>
									<li><i class="fa fa-clock-o fa-lg"></i><small>Mon / Friday<br>09:00 - 13.00 / 14:00 - 18:00</small></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="widget sep-top-lg">
								<h6 class="upper widget-title">Flickr Photostream</h6>
								<div class="flickr_container sep-top-xs">
									<div id="flickr_badge_image1" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14983708011/"><img width="75" height="75" title="Collis does the ice bucket challenge" alt="Una foto su Flickr" src="http://farm4.staticflickr.com/3923/14983708011_6bcbba0e2c_s.jpg"></a></div>
									<div id="flickr_badge_image2" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14596923138/"><img width="75" height="75" title="Justin 05" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5555/14596923138_d4d46d271c_s.jpg"></a></div>
									<div id="flickr_badge_image3" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14760569666/"><img width="75" height="75" title="Justin 04" alt="Una foto su Flickr" src="http://farm4.staticflickr.com/3909/14760569666_7c6c02da27_s.jpg"></a></div>
									<div id="flickr_badge_image4" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14783568265/"><img width="75" height="75" title="Justin 03" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5590/14783568265_90657d440f_s.jpg"></a></div>
									<div id="flickr_badge_image5" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14781214704/"><img width="75" height="75" title="Justin 01" alt="Una foto su Flickr" src="http://farm3.staticflickr.com/2925/14781214704_955df76638_s.jpg"></a></div>
									<div id="flickr_badge_image6" class="flickr_badge_image"><a href="http://www.flickr.com/photos/we-are-envato/14471910420/"><img width="75" height="75" title="Envato Live" alt="Una foto su Flickr" src="http://farm6.staticflickr.com/5548/14471910420_cf12dd0a16_s.jpg"></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright sep-top-xs sep-bottom-xs">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center"><small>Copyright 2015 © CarLux. All rights reserved.</small></div>
					</div>
				</div>
			</div>
		</footer>